
.line1{margin-bottom:3px;margin-left:30px;}
.line1 span{font-size:12px;display:inline-block; }
.hrline{width:96%;border:none;background-color:black;height:2px;}
table{align:center; border:#cfe1f9 solid 1px;}
td{border:#cfe1f9 solid 1px;text-align:center;height:25px}
